In [1]:
import pandas as pd

In [2]:
pip install lxml

Requirement already satisfied: lxml in c:\users\administrator\appdata\local\programs\python\python311\lib\site-packages (5.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df = pd.read_html('https://en.wikipedia.org/wiki/Mammootty_filmography')[3]

In [4]:
print(df)

     Year                          Title                     Role  \
0    1971       Anubhavangal Paalichakal  Background crowd member
1    1973                   Kaalachakram                  Boatman
2    1980         Vilkkanundu Swapnangal           Madhavan Kutty
3    1980                           Mela                  Vijayan
4    1981                      Sphodanam               Thankappan
..    ...                            ...                      ...
394  2024                          Turbo               Turbo Jose
395  2025  Dominic and the Ladies' Purse             C. I Dominic
396  2025                      Bazooka †              Vinod Menon
397  2025                  Megastar428 †                      TBA
398   TBA                    AJFC_MMMN †                      TBA

               Notes      Ref.
0         Uncredited      [15]
1         Uncredited      [16]
2                NaN  [17][18]
3                NaN      [19]
4                NaN       [4]
..               ...       ...
394    Also producer     [315]
395              NaN     [316]
396  Post-production     [317]
397          Filming     [318]
398          Filming     [319]

[399 rows x 5 columns]

In [5]:

# Save the DataFrame as an Excel file
output_file_path = 'output.xlsx'
df.to_excel(output_file_path, index=False)

print(f"DataFrame saved as {output_file_path}")

DataFrame saved as output.xlsx